<!--begin::Header-->
<div id="kt_header" class="header header-fixed">

	<!--begin::Container-->
	<div class="container-fluid d-flex align-items-stretch justify-content-between">

		<!--begin::Header Menu Wrapper-->
		<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

			<!--begin::Header Logo-->
			<div class="header-logo">
				<a href="/">
					<!-- <img alt="Logo" src="assets/media/logos/logo-light.png" /> -->
					<span class="h2 font-weight-bolder text-warning">Smart</span><span class="h2 font-weight-bolder text-white">Work</span>
				</a>
			</div>
			<!--end::Header Logo-->

			<!--end::Header Logo-->

			<!--begin::Header Menu-->
			<div id="kt_header_menu"
				class="header-menu header-menu-mobile header-menu-layout-default header-menu-root-arrow">

				<!--begin::Header Nav-->
				<ul class="menu-nav">
					<li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
						<a href="javascript:;" class="menu-link menu-toggle">
							<span class="menu-text">Pages</span>
						</a>
						<div class="menu-submenu menu-submenu-classic menu-submenu-left">
							<ul class="menu-subnav">
								<li class="menu-item menu-item-active" aria-haspopup="true">
									<a href="index.html" class="menu-link">
										<i class="menu-icon flaticon2-bar-chart"></i>
										<span class="menu-text">My Account</span>
									</a>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="javascript:;" class="menu-link">
										<i class="menu-icon flaticon2-calendar-1"></i>
										<span class="menu-text">Task Manager</span>
										<span class="menu-label">
											<span class="label label-success label-rounded">2</span>
										</span>
									</a>
								</li>
								<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
									<a href="javascript:;" class="menu-link menu-toggle">
										<i class="menu-icon flaticon2-chronometer"></i>
										<span class="menu-text">Team Manager</span>
										<i class="menu-arrow"></i>
									</a>
									<div class="menu-submenu menu-submenu-classic menu-submenu-right">
										<ul class="menu-subnav">
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Add Team Member</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Edit Team Member</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Delete Team Member</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Team Member Reports</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Assign Tasks</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Promote Team Member</span>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
									<a href="#" class="menu-link menu-toggle">
										<i class="menu-icon flaticon2-image-file"></i>
										<span class="menu-text">Projects Manager</span>
										<i class="menu-arrow"></i>
									</a>
									<div class="menu-submenu menu-submenu-classic menu-submenu-right">
										<ul class="menu-subnav">
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Latest Projects</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Ongoing Projects</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Urgent Projects</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Completed Projects</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Dropped Projects</span>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="javascript:;" class="menu-link">
										<i class="menu-icon flaticon2-cup"></i>
										<span class="menu-text">Create New Project</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
						<a href="javascript:;" class="menu-link menu-toggle">
							<span class="menu-text">Features</span>
						</a>
						<div class="menu-submenu menu-submenu-fixed menu-submenu-left" style="width:1000px">
							<div class="menu-subnav">
								<ul class="menu-content">
									<li class="menu-item">
										<h3 class="menu-heading menu-toggle">
											<i class="menu-bullet menu-bullet-dot">
												<span></span>
											</i>
											<span class="menu-text">Task Reports</span>
											<i class="menu-arrow"></i>
										</h3>
										<ul class="menu-inner">
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-icon flaticon-security"></i>
													<span class="menu-text">Latest Tasks</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-icon flaticon-download-1"></i>
													<span class="menu-text">Pending Tasks</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-icon flaticon-pie-chart-1"></i>
													<span class="menu-text">Urgent Tasks</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-icon flaticon2-psd"></i>
													<span class="menu-text">Completed Tasks</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-icon flaticon2-supermarket"></i>
													<span class="menu-text">Failed Tasks</span>
												</a>
											</li>
										</ul>
									</li>
									<li class="menu-item">
										<h3 class="menu-heading menu-toggle">
											<i class="menu-bullet menu-bullet-dot">
												<span></span>
											</i>
											<span class="menu-text">Profit Margins</span>
											<i class="menu-arrow"></i>
										</h3>
										<ul class="menu-inner">
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Overall Profits</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Gross Profits</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Nett Profits</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Year to Date Reports</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Quarterly Profits</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-line">
														<span></span>
													</i>
													<span class="menu-text">Monthly Profits</span>
												</a>
											</li>
										</ul>
									</li>
									<li class="menu-item">
										<h3 class="menu-heading menu-toggle">
											<i class="menu-bullet menu-bullet-dot">
												<span></span>
											</i>
											<span class="menu-text">Staff Management</span>
											<i class="menu-arrow"></i>
										</h3>
										<ul class="menu-inner">
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Top Management</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Project Managers</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Development Staff</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Customer Service</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Sales and Marketing</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Executives</span>
												</a>
											</li>
										</ul>
									</li>
									<li class="menu-item">
										<h3 class="menu-heading menu-toggle">
											<i class="menu-bullet menu-bullet-dot">
												<span></span>
											</i>
											<span class="menu-text">Tools</span>
											<i class="menu-arrow"></i>
										</h3>
										<ul class="menu-inner">
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<span class="menu-text">Analytical Reports</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<span class="menu-text">Customer CRM</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<span class="menu-text">Operational Growth</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<span class="menu-text">Social Media Presence</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<span class="menu-text">Files and Directories</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="javascript:;" class="menu-link">
													<span class="menu-text">Audit &amp; Logs</span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
						<a href="/administration" class="menu-link">
							<i class="menu-icon flaticon2-settings"></i>
							<span class="menu-text">Quản trị hệ thống</span>
						</a>
					</li>
				</ul>

				<!--end::Header Nav-->
			</div>

			<!--end::Header Menu-->

		</div>
		<!--end::Header Menu Wrapper-->

		<!--begin::Topbar-->
		<div class="topbar">

			<!--begin::Notifications-->
			<div class="topbar-item">
				<div class="btn btn-icon btn-icon-mobile btn-clean btn-lg mr-1" id="kt_quick_notifications_toggle">
					<span class="svg-icon svg-icon-xl">

						<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Group-chat.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
							height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<rect x="0" y="0" width="24" height="24" />
								<path
									d="M16,15.6315789 L16,12 C16,10.3431458 14.6568542,9 13,9 L6.16183229,9 L6.16183229,5.52631579 C6.16183229,4.13107011 7.29290239,3 8.68814808,3 L20.4776218,3 C21.8728674,3 23.0039375,4.13107011 23.0039375,5.52631579 L23.0039375,13.1052632 L23.0206157,17.786793 C23.0215995,18.0629336 22.7985408,18.2875874 22.5224001,18.2885711 C22.3891754,18.2890457 22.2612702,18.2363324 22.1670655,18.1421277 L19.6565168,15.6315789 L16,15.6315789 Z"
									fill="#000000" />
								<path
									d="M1.98505595,18 L1.98505595,13 C1.98505595,11.8954305 2.88048645,11 3.98505595,11 L11.9850559,11 C13.0896254,11 13.9850559,11.8954305 13.9850559,13 L13.9850559,18 C13.9850559,19.1045695 13.0896254,20 11.9850559,20 L4.10078614,20 L2.85693427,21.1905292 C2.65744295,21.3814685 2.34093638,21.3745358 2.14999706,21.1750444 C2.06092565,21.0819836 2.01120804,20.958136 2.01120804,20.8293182 L2.01120804,18.32426 C1.99400175,18.2187196 1.98505595,18.1104045 1.98505595,18 Z M6.5,14 C6.22385763,14 6,14.2238576 6,14.5 C6,14.7761424 6.22385763,15 6.5,15 L11.5,15 C11.7761424,15 12,14.7761424 12,14.5 C12,14.2238576 11.7761424,14 11.5,14 L6.5,14 Z M9.5,16 C9.22385763,16 9,16.2238576 9,16.5 C9,16.7761424 9.22385763,17 9.5,17 L11.5,17 C11.7761424,17 12,16.7761424 12,16.5 C12,16.2238576 11.7761424,16 11.5,16 L9.5,16 Z"
									fill="#000000" opacity="0.3" />
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
					<span class="pulse-ring"></span>
				</div>
			</div>

			<!--end::Notifications-->

			<!--begin::Quick Actions-->
			<div class="dropdown">

				<!--begin::Toggle-->
				<div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
					<div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
						<span class="svg-icon svg-icon-xl">

							<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Code\Compiling.svg-->
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
								width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="0" y="0" width="24" height="24" />
									<path
										d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
										fill="#000000" opacity="0.3" />
									<path
										d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
										fill="#000000" />
								</g>
							</svg>
							<!--end::Svg Icon-->
						</span>
					</div>
				</div>

				<!--end::Toggle-->

				<!--begin::Dropdown-->
				<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
					<%- include("_extras/dropdown/quick-actions"); %>
				</div>

				<!--end::Dropdown-->
			</div>

			<!--end::Quick Actions-->

			<!--begin::User-->
			<div class="topbar-item">
				<div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2"
					id="kt_quick_user_toggle">
					<span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Xin chào,</span>
					<span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">Hoàng Tú</span>
					<span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
						<span class="symbol-label font-size-h5 font-weight-bold">T</span>
					</span>
				</div>
			</div>

			<!--end::User-->
		</div>
		<!--end::Topbar-->
	</div>

	<!--end::Container-->
</div>

<!--end::Header-->